form.form {
    display: table;
}

div.form {
    display: table-row;
}

label, input {
    display: table-cell;
    margin-bottom: 20px;
}

label {
    padding-right: 10px;
    color: blueviolet;
    font-size: larger;
}
label :hover{
    color:red;
    
}
*{
    background-color: papayawhip;
}
h1{
    color: green;
    text-align: center;
    font-size: 100px;
    font-family: 'MC Twinkle Star', sans-serif;
}
button {
    display: block;
  margin-left: auto;
  margin-right: auto;
    background:aqua;
    color:indianred;
    border: 2px solid;
    padding: 0.8em 1.8em;
    font-size: 0.8em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25s,transform 0.25s;
  }
   
  button:hover {
    border-color: yellow;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em yellow;
    transform: translateY(-0.25em);
    cursor: pointer;
  }
}
form{
    font-size: 20px;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
    width: 300px;
    height: 250px;
}
{
    @font-face {
    font-family: 'MC Twinkle Star';
    font-style: normal;
    font-weight: 400;
    src: local('MC Twinkle Star'), url('https://fonts.cdnfonts.com/s/25232/MC Twinkle Star.woff') format('woff');
}
